html{
	height:100%;
	background-color:#ecf0f1;
	font-family:'Lato',Verdana;
	min-width:320px;
}

body{
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.fa{
	color:#2c3e50;
}

#header{
	background-color:#42a1d9;
	height:34px;
	width:100%;
	position:fixed;
	top:0%;
	left:0%;
	z-index: 1;
	margin:0;
	padding:0;
	opacity: 0.70;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

#header:hover{
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

#footer{
	font-size:18px;
	background-color:#bdc3c7;
	padding:20px;
	color:#2c3e50;
}

.contentDivider{
	height:10px;
	background: url(../img/contentDivider25x5.png) no-repeat scroll center;
	clear:both;
	width:100%;
	margin-top:40px;
	margin-bottom:40px;
}

.contentDivider hr{
	display:none;
}

.clear{
	clear:both;
}

/*NAVIGATION MENU*/

/*main nav*/
nav{
	position:fixed;
	top:0%;
	right:0%;
	z-index: 2;
}

nav ul{
	margin:0;
	padding:0;
}

/*all list items*/
nav ul li{
	position:relative;
	width:80px;
	float:left;
	list-style: none;
	padding-top:5px;
	padding-bottom:5px
}

/*all list item links*/
nav ul li a{
	text-decoration:none;
	font-size: 14px;
	color:#FFF;
	border-bottom: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*all list item links hover*/
nav ul li a:hover{
	border-color:#FFF;
}

/*hide child items*/
nav li ul{
	position:absolute;
	visibility:hidden;
  	opacity:0;
	padding-top:5px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*display child item when hovered*/
nav li:hover ul{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

/*child item link style*/
nav ul li ul li a{
	color:#737E7F;
	border-bottom: 1px solid rgba(127,140,141,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*child item links style hover*/
nav ul li ul li a:hover{
	color:#2c3e50;
	border-color:#2c3e50;
}

/*BANNER*/

#fixedBannerBackground{
	width:100%;
	height:100%;/*height:460px;*/
	min-height:360px;
	background:url("../img/setup.jpg") no-repeat center top;
	background-size:cover;
	position:fixed;
	z-index:-99;
}

#bannerContainer{
	width:100%;
	height:100%;/*height:460px;*/
	min-height:360px;
}

#bannerBlock{
	top:35%;
	position:relative;
}

#bannerName{
	font-size:62px;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
	letter-spacing:4px;
}

#bannerPhrase{
	font-size:34px;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
	letter-spacing:2px;
}

#bannerLogo{
	vertical-align: text-bottom;
	margin-right:10px;
}

/*MORE LINKS AND HOVER BUTTON*/

#moreLinksContainer{
	width:60%;
	max-width:500px;
	padding-top:80px;
	margin: 0 auto;
	display:inline-block;
}

.moreLinksBlock{
	width:33.33333333333333333333333%;
	float:left;
}

.moreLinksStyle{
	text-decoration: none;
	font-size:18px;
	color:#2c3e50;
	border-bottom: 1px solid rgba(44,62,80,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

.moreLinksStyle:hover{
	border-color: #2c3e50;
}

.hoverButtonBlock{
	width:50%;
	float:left;
}

.hoverButtonLink{
	display:inline-block;
	font-size:18px;
	color: #FFFFFF;
	background: #2c3e50;
	border: 1px solid #2c3e50;
	width: 160px;
	height: 25px;
	padding: 10px 0px;
	/*position: absolute;
  	top:0; right:0; bottom:0; left:0;*/
	text-decoration:none;
	text-align:center;
	overflow:hidden;
	letter-spacing:2px;

	transition:all 0.5s;
}

.hoverButtonLink:hover, .hoverButtonLink:active{
	text-decoration:none;
	color:#2c3e50;
	border-color:#2c3e50;
	background:none;
}

.hoverButtonLink span{
	display: inline-block;
  	position: relative;
	padding-right: 0;

  	transition: padding-right 0.5s;
}

.hoverButtonLink span:after 
{
  	content: '';  
 	position: absolute;
 	right: -10px;
 	opacity: 0;
  	width: 10px;
  	height: 10px;
  	margin-top:6px;

  	background: rgba(0, 0, 0, 0);
  	border: 2px solid #2c3e50;
  	border-top:none;
  	border-left:none;
  
  	transition: opacity 0.5s, right 0.5s;
  	transform: rotate(-45deg);
}

.hoverButtonLink:hover span, .hoverButton:active span 
{
  	padding-right: 15px;
}

.hoverButtonLink:hover span:after, .hoverButton:active span:after 
{
  	opacity: 1;
  	border-color:#2c3e50;
  	right: -15;

  	transform: rotate(-45deg);
  	transition: opacity 0.5s, right 0.5s;
}

/*GRAPH AND CONTENT CONTAINER*/
#mainContainer{
	width:100%;
	/*max-width:1200px;*/
	/*margin:64px auto 80px auto;*/
	margin: 0 auto;
	padding: 64px 0px 80px 0px;
	display:inline-block;
	background-color:#ecf0f1;
}

#graph_buttons{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

.graphButton{
	font-family:'Lato',Verdana;
	background-color:#2c3e50;
	font-size:18px;
	color:#FFF;
	padding:10px 0px;
	width:145px;
	margin:20px;
	border-radius:5px;
	border:0px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

.graphButton .fa{
	color:#FFF;
}

.graphButton:hover{
	background-color:#42a1d9;
}

.graphButton:focus{
	outline:0;
}

#svg_graph{
	/*float:left;*/
	float:none;
}

#contentOuterContainer{
	padding: 10px;
}

#contentInnerContainer{
	text-align:center;
}

h1{
	text-align:center;
	font-weight:bold;
	font-size:35px;
	color:#2980b9;
	font-family:'Raleway',Verdana;
}

h2{
	font-weight:normal;
	margin:0;
	padding:0;
	font-size:28px;
	color:#2c3e50;
}

p{
	font-size:18px;
	color:#2c3e50;
}

.contentDescription li{
	font-size:18px;
}

/*Hide content*/
#educationContent{
	display:none;
}

#experienceContent{
	display:none;
}

#skillsContent{
	display:none;
}

/*PROJECTS CONTAINER*/
#projectsContainer{
	background-color:#DEEDF0;
	padding-top:64px;
	padding-bottom:80px;
}

.jPlayerImg{
    width:45%;
    max-width:275px
}

.projectTag{
	font-size:18px;
	font-weight:bold;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
}

/*CONTACT CONTAINER*/
#contactContainer{
	background-color:#ecf0f1;
	padding-top:64px;
	padding-bottom:100px;
}

#contactInfoBlock{
	width:50%;
	margin: 0 auto;
	display:inline-block;
}

/*#contactLeftBlock{
	width:50%;
	float:left;
}

#contactRightblock{
	width:50%;
	float:right;
}*/

.socialLinkBox{
	margin-right:12px;
	padding:12px;
	border: 1px solid #2c3e50;
	background-color: #2c3e50;
	display:inline-block;

	transition:all 0.5s;
}

.socialLinkBox:hover, .socialLinkBox:active{
	background: none;

	transition:all 0.5s;
}

.socialLinkBox:hover > .fa, .socialLinkBox:active > .fa{
	color:#2c3e50;

	transition:all 0.5s;
}

.socialLinkBox .fa{
	color:#FFFFFF;

	transition:all 0.5s;
}



/*WIDE SCREENS*/
@media only screen and (min-width: 1024px){
	#bannerName{
		font-size: 80px;
		letter-spacing:6px;
	}
	#bannerPhrase{
		font-size: 35px;
		letter-spacing:4px;
	}
	#bannerLogo{
		margin-bottom:12px;
		margin-right:14px;
	}
}

/*IPAD STYLES*/

@media only screen and (max-width: 768px) {
	/*reduce graph buttons width*/
	.graphButton{
		font-size:14px;
		width:120px;
		margin:20px 10px 10px 10px;
	}

	/*change regular text to font 14px*/
	#footer{
		font-size:14px;
	}
	.moreLinksStyle{
		font-size:14px;
	}
	.hoverButtonLink{
		width:140px;
	}
	#moreLinksContainer{
		width:70%;
	}
	h3{
		font-size:14px;
	}
	p{
		font-size:14px;
	}
	.projectTag{
		font-size:14px;
	}
	.contentDescription li{
		font-size:14px;
	}
	#bannerName{
		font-size:54px;
		letter-spacing:0px;
	}
	#bannerPhrase{
		font-size:30px;
		letter-spacing:0px;
	}
}

/*JUST FOR KICKS???*/
@media only screen and (max-width: 640px) {
	/*reduce graph buttons width*/
	.graphButton{
		width:100px;
		margin:20px 5px 5px 5px;
	}
	#moreLinksContainer{
		width:85%;
	}
}

/*MOBILE STYLES*/
@media only screen and (max-width: 480px) {
	/*Reduce banner text and image sizes*/
	#bannerName{
		font-size:35px;
	}
	#bannerPhrase{
		font-size:22px;
	}
	#bannerLogo{
		width:30px;
		height:30px;
	}
	/*widden more links container*/
	#moreLinksContainer{
		width:100%;
	}
	/*widden graph buttons width*/
	.graphButton{
		float:none;
		width:47%;
		margin:5px 0px 0px 0px;
	}
	.hoverButtonLink{
		font-size:16px;
	}
	.hoverButtonLink span:after {
		margin-top:5px;
	}
}

/*colors
	turquoise:#00d0af;
	blue:#42a1d9;
	lightlightlightgray:#f4f7f7;
*/