html{
	height:100%;
	background-color:#ecf0f1;
	font-family:'Lato',Verdana;
	min-width:320px;
}

body{
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.fa{
	color:#2c3e50;
}

#header{
	background-color:#42a1d9;
	height:34px;
	width:100%;
	position:fixed;
	top:0%;
	left:0%;
	z-index: 1;
	margin:0;
	padding:0;
}

#footer{
	font-size:14px;
	background-color:#bdc3c7;
	padding:20px;
	color:#2c3e50;
}

.contentDivider{
	height:10px;
	background: url(../img/contentDivider25x5.png) no-repeat scroll center;
	clear:both;
	width:100%;
	margin-top:40px;
	margin-bottom:40px;
}

.contentDivider hr{
	display:none;
}

.clear{
	clear:both;
}

/*NAVIGATION MENU*/

/*main nav*/
nav{
	position:fixed;
	top:0%;
	right:0%;
	z-index: 2;
}

nav ul{
	margin:0;
	padding:0;
}

/*all list items*/
nav ul li{
	position:relative;
	width:80px;
	float:left;
	list-style: none;
	padding-top:5px;
	padding-bottom:5px
}

/*all list item links*/
nav ul li a{
	text-decoration:none;
	font-size: 14px;
	color:#FFF;
	border-bottom: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*all list item links hover*/
nav ul li a:hover{
	border-color:#FFF;
}

/*hide child items*/
nav li ul{
	position:absolute;
	visibility:hidden;
  	opacity:0;
	padding-top:5px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*display child item when hovered*/
nav li:hover ul{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

/*child item link style*/
nav ul li ul li a{
	color:#737E7F;
	border-bottom: 1px solid rgba(127,140,141,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*child item links style hover*/
nav ul li ul li a:hover{
	color:#2c3e50;
	border-color:#2c3e50;
}

/*BANNER*/

#bannerContainer{
	width:100%;
	height:100%;/*height:460px;*/
	min-height:360px;
	background:url("../img/banner7.png") no-repeat center top;
	background-size:cover;
}

#bannerBlock{
	top:35%;
	position:relative;
}

#bannerName{
	font-size:54px;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
}

#bannerPhrase{
	font-size:30px;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
}

#bannerLogo{
	vertical-align: text-bottom;
	margin-right:10px;
}

/*MORE LINKS*/

#moreLinksContainer{
	width:60%;
	padding-top:80px;
	margin: 0 auto;
	display:inline-block;
}

.moreLinksBlock{
	width:33.33333333333333333333333%;
	float:left;
}

.moreLinksStyle{
	text-decoration: none;
	font-size:14px;
	color:#2c3e50;
	border-bottom: 1px solid rgba(44,62,80,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

.moreLinksStyle:hover{
	border-color: #2c3e50;
}

/*GRAPH AND CONTENT CONTAINER*/
#mainContainer{
	width:100%;
	max-width:1200px;
	margin:32px auto 64px auto;
	display:inline-block;
}

#graph_buttons{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

.graphButton{
	font-family:'Lato',Verdana;
	background-color:#2c3e50;
	font-size:14px;
	color:#FFF;
	padding:10px 0px;
	width:140px;
	margin:20px;
	border-radius:5px;
	border:0px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

.graphButton .fa{
	color:#FFF;
}

.graphButton:hover{
	background-color:#42a1d9;
}

.graphButton:focus{
	outline:0;
}

#svg_graph{
	/*float:left;*/
	float:none;
}

#contentOuterContainer{
	padding: 10px;
	/*margin-left:460px;*/
}

#contentInnerContainer{
	text-align:center;
}

h1{
	text-align:center;
	font-weight:bold;
	font-size:35px;
	color:#2c3e50;
	font-family:'Raleway',Verdana;
}

h2{
	font-weight:normal;
	margin:0;
	padding:0;
	font-size:28px;
	color:#2c3e50;
}

h3{
	font-weight:normal;
	font-size:18px;
	color:#2c3e50;
}

p{
	font-size:14px;
	color:#2c3e50;
}

.contentDescription li{
	font-size:14px;
}

/*Hide content*/
#educationContent{
	display:none;
}

#experienceContent{
	display:none;
}

#skillsContent{
	display:none;
}

/*jPlayer container*/
#projectsContainer{
	background-color:#DEEDF0;
	padding-top:5px;
	padding-bottom:5px;
}

/*contact container*/
#contactContainer{
	height:100%;
	width:100%;
	background-color:#ecf0f1;
}

/*IPAD STYLES*/

@media only screen and (max-width: 768px) {
	/*Re adjust content margin change*/
	#contentOuterContainer{
		/*margin-left:320px;*/
	}
	/*reduce graph buttons width*/
	.graphButton{
		width:120px;
		margin:20px 10px 10px 10px;
	}
}

/*JUST FOR KICKS???*/
@media only screen and (max-width: 640px) {
	/*remove margin because content sits below graph*/
	#contentOuterContainer{
		/*margin-left:0px;*/
	}
	/*center svg graph*/
	#svg_graph{
		float:none;
	}
	/*reduce graph buttons width*/
	.graphButton{
		width:100px;
		margin:20px 5px 5px 5px;
	}
}

/*MOBILE STYLES*/
@media only screen and (max-width: 480px) {
	/*Reduce banner text and image sizes*/
	#bannerName{
		font-size:35px;
	}
	#bannerPhrase{
		font-size:22px;
	}
	#bannerLogo{
		width:30px;
		height:30px;
	}
	/*widen more links container*/
	#moreLinksContainer{
		width:100%;
	}
	/*center svg graph*/
	#svg_graph{
		float:none;
	}
	/*remove margin because content sits below graph*/
	#contentOuterContainer{
		/*margin-left:0px;*/
	}
	/*widden graph buttons width*/
	.graphButton{
		float:none;
		width:47%;
		margin:5px 0px 0px 0px;
	}
	/*reduce margin of content container*/
	#mainContainer{
		margin:64px auto 64px auto;
	}

}

/*colors
	turquoise:#00d0af;
	blue:#42a1d9;
	lightlightlightgray:#f4f7f7;
*/