html
{
	background-color:black;
}

#backing
{
	width:960px;
	height:100%;
	background-color:#efefef;
	margin:0 auto;
	position:fixed;
	z-index:-1;
}

#container
{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#banner
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 956px;
	height: 200px;
	border: 2px solid black;
}

#bannerText
{
	position: absolute;
	color: #38C3C3;
	font-family: Courier New;
	font-size: 70px;
	top: 75px;
	left:40px;
}

.navigation
{
	width: 240px;
	height: 50px;
	font-family: Courier New;
	color:black;
	font-weight:bold;
	text-align: center;
	line-height: 50px;
	background-color:#D2D0D0;
	border-bottom: 1px solid black;
	text-decoration: none;
	float: left;
}

 .navigation:hover
{
	background-color:#5f6975;
	font-size: 20px;
	color:blue;
}

#title
{
	font-size: 30px;
	color: #38C3C3;
	font-family: verdana;
}

#content
{
	float: left;
	width:940px;
	text-align: justify;
	font-family: verdana;
	font-size:16px;
	color:black;
	/*background-color:white;*/
	padding: 10px;
}

#instructions
{
	float: left;
	width:280px;
	text-align: center;
	font-family: verdana;
	font-size:16px;
	color:black;
	/*background-color:white;*/
	padding: 10px;
}

applet
{	
	width: 616px;
	float:right;
	padding: 10px;
}

#profilePic
{
	border-radius:10px;
	float: right;
	width: 320px;
	/*background-color:white;*/
	margin: 30px 3px 10px 10px;
	border: 1px solid black;
}

#aboutPic
{
	border-radius:10px;
	float: left;
	width: 110px;
	/*background-color:white;*/
	margin: 10px 10px 10px 3px;
	border: 1px solid black;
}

#footer
{
	width:940px;
	height: 50px;
	padding: 0px 10px;
	line-height:50px;
	text-align:left;
	font-family: courier new;
	font-weight:bold;
	background-color:#D2D0D0;
	/*border-radius:0px 0px 10px 10px;*/
	border-top:1px solid black;
	position:fixed;
	bottom:0px;
	margin:0 auto;
}

.footerIcon
{
	position:relative;
	float:right;
	width: 30px;
	height: 30px;
	padding: 10px 2px 10px 2px;
	border-bottom:none;
}

.footerIcon:hover
{
	background-color: #D2D0D0;
	font-size:30px;
}
.icon
{
	width: 30px;
	height: 30px;
}

.otherLinks
{
	margin: 50px 10px;
	border-radius: 10px;
	background-color:#AECDDA;
	width: 280px;
	height: 50px;
	line-height: 50px;
	float: right;
	font-size:20px;
	text-decoration: none;
	color:blue;
	border: 1px solid black;
}

.otherLinks:hover
{
	font-weight:bold;
	background-color:#7ACDF0;
}

#githubButton
{
	width: 500px;
	margin: 20px 40px;
}

.slideshow
{
	margin: 0 auto;
	padding: 10px;
	width:900px;
	height:150px;
	background-color: black;
	position:relative;
	overflow:hidden;
	border: 1px solid black;
	border-radius:10px;
}

.images
{
	background: url(aboutslideshow.png);
	height:100%;
	width:300%;
	position: absolute;
	left:0;
	top:0;
	-webkit-animation: slideshow 30s linear infinite;
	-moz-animation:    slideshow 30s linear infinite;
}

.images:hover
{
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}

@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

.projectIconFrame
{
	color:blue;
	background-color: #AECDDA;
	text-align: center;
	text-decoration: none;
	font-family: verdana;
	margin: 20px;
	border: 3px solid black;
	border-radius:10px;
	float: left;
	width: 194px;
	height: 194px;
	overflow:hidden;
}

.projectIcon
{
	width:194px;
	height:194px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
     transition: all 1s ease;
	 position:relative;
}

.projectIcon:hover
{
	width: 250px;
	height: 250px;
}
